body{ text-align: center; }
.calc{  width: 300px; margin: 0 auto;}
.num, .op, #equals, #decimal, #clear, #minus, #paranthesesOne, #paranthesesTwo{
border: 1px solid black;
width: 50px; height: 50px;
display: inline-block;
margin-top: 2px;}
.num, #decimal {
  background-color: rgba(20,100,200,.7);
}
.op, #equals, #paranthesesOne, #paranthesesTwo{
    background-color: rgba(80,100,230,.8);
}
#minus{
    background-color: rgba(200, 10, 30,.9);
}
#clear{
    background-color: rgba(20, 170, 240, .7);
}



#display{
width: 200px;
  height: 30px;
background-color: gray;
border: 2px solid black;}
